<div class="card w-100% justify-center">
    <p-toolbar styleClass="mb-4 ">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="New Training"
                icon="pi pi-plus"
                class="p-button-success mr-2 primary-button"
                (click)="openCreateModal()"
            ></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="Back"
                class="p-button-warning mr-2 primary-button"
                [routerLink]="['/welcome']"
            ></button>
        </ng-template>
    </p-toolbar>
    <p-table
        #dt
        [value]="trainings"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['title']"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of trainings"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Trainings</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title">Title</th>
                <th pSortableColumn="type">Type</th>
                <th pSortableColumn="description">Description</th>
                <th pSortableColumn="comment">Comment</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-training>
            <tr>
                <td [routerLink]="['/exercises/' + training.id]">{{ training.title }}</td>
                <td [routerLink]="['/exercises/' + training.id]">{{ training.type }}</td>
                <td [routerLink]="['/exercises/' + training.id]">{{ training.description}}</td>
                <td [routerLink]="['/exercises/' + training.id]">{{ training.comment}}</td>
                <td></td>
                <td></td>
                <td class="flex justify-end">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success primary-button"
                        (click)="openEditTrainingModal(training)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning primary-button"
                        (click)="removeTrainingFromGym(training)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
