
    <div class="mt-3">
        <button class="py-2 px-4 text-black rounded-md bg-white" (click)="openCreateModal()" >
            Add new training machine
        </button>
    </div> 

<ng-container >
    <div class="mt-3" *ngFor="let trainingMachines of trainingMachines">
        <app-training-machines-component>
              (ngSubmit)="createTrainingMachine(trainingMachines.gymId) -->
            (onRemove)="onRemoveTrainingMachines($event)"
            [trainingMachines]="trainingMachines"
        ></app-training-machines-component>
        <div>{{trainingMachines}}</div>
    </div>
</ng-container>
<ng-template #noTopLists>
    <div>No toplists created</div>
</ng-template>