<!-- 
<ng-container *ngIf="trainingMachines"></ng-container>
<div class="px-6 mt-4">
    <div class="uppercase text-sm font-bold text-dark-red">Created toplists</div>
    <div class="text-2xl">
        {{ (trainingMachines?.length | number) || 'Cannot load data' }}
    </div>
    </div>
    <div>
            [trainingMachines]="trainingMachines"
            (onRemove)="onRemoveTrainingMachine($event)"
            (onChanges)="getTrainingMachinesForGym()"
        </div>  -->
<!-- <ng-container> -->
<p-card>FUTUTI MORTII MATII </p-card>
<div>aloooooooooooooooo</div>
<!-- </ng-container> -->
