<div class="mt-3">
    <button class="py-2 px-4 text-black rounded-md bg-black" (click)="openCreateModal()" >
        Add new training machine
    </button>
</div> 
<!-- <ng-container *ngIf=".length; else noTopLists">
    <div class="mt-3" *ngFor="let toplist of toplists">
         <app-toplist-card
            (onClick)="onClickToplist($event)"
            (onRemove)="onRemoveToplist($event)"
            [toplist]="toplist"
        ></app-toplist-card> 
    </div>
</ng-container>
<ng-template #noTopLists>
    <div>No toplists created</div> -->
<!-- </ng-template>  -->
