<form [formGroup]="trainingMachineForm" (ngSubmit)="createTrainingMachine()">
    <div class="m-10 gap-5">
        <div class="flex flex-col gap-2">
            <label for="name">Name</label>
            <input formControlName="name" pInputText id="name" type="text" />
            <small
                *ngIf="
                    trainingMachineForm.get('name')?.invalid &&
                    (trainingMachineForm.get('name')?.dirty || trainingMachineForm.get('name')?.touched)
                "
                id="ranking-help"
                class="p-error"
                ><div *ngIf="trainingMachineForm.get('name')?.errors?.['required']" style="font-size: 20px;">
                    A name of the training is required.
                </div>
            </small>
            <div class="flex mt-2"></div>
            <label for="description">Description</label>
            <textarea formControlName="description" pInputTextarea [rows]="3" id="description" name="text"></textarea>
            <label for="location">Location</label>
            <input formControlName="location" pInputText id="location" type="text" />
            <small
                *ngIf="
                trainingMachineForm.get('location')?.invalid &&
                    ( trainingMachineForm.get('location')?.dirty ||  trainingMachineForm.get('location')?.touched)
                "
                id="login-help"
                class="p-error"
                ><div *ngIf=" trainingMachineForm.get('location')?.errors?.['required']" style="font-size: 20px;">
                    The location is required.
                </div>
            </small>
        </div>
        <div class="flex gap-2 mt-6">
            <button [disabled]="trainingMachineForm.invalid" class="py-2 px-4 text-black rounded-md" type="submit">
                Create
            </button>
            <button class="py-2 px-4 text-black rounded-md" type="button" (click)="close()">Cancel</button>
        </div>
    </div>
</form>
