<div class="img-bg"></div>
<div class="flex h-screen justify-center items-center">
    <div class="w-4/5 mx-auto rounded-xl overflow-hidden bg-white">
            <div class="p-48">
                <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
                    <ng-container>
                        <div class="flex flex-col gap-1 mb-4 mt-5">
                            <label for="login" class="text-xl text-gray-500 mb-5">Login</label>
                            <input formControlName="login" class="input" pInputText id="login" type="text" />
                            <small
                                *ngIf="
                                    signupForm.get('login').invalid &&
                                    (signupForm.get('login').dirty || signupForm.get('login').touched)
                                "
                                id="login-help"
                                class="text-base p-error"
                                ><div *ngIf="signupForm.get('login').errors?.['required']">Login is required.</div>
                                <div *ngIf="signupForm.get('login').errors?.['minlength']">
                                    Login must be at least 4 characters long.
                                </div>
                            </small>
                        </div>
                        <div class="flex flex-col gap-1 mb-4">
                            <label for="password" class="text-xl text-gray-500 mb-5 mt-5">Password</label>
                            <p-password
                                formControlName="password"
                                id="password"
                                class="password"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right password"
                                [toggleMask]="true"
                                [feedback]="false"
                            ></p-password>
                            <small
                                *ngIf="
                                    signupForm.get('password').invalid &&
                                    (signupForm.get('password').dirty || signupForm.get('password').touched)
                                "
                                id="password-help"
                                class="text-base p-error"
                                ><div *ngIf="signupForm.get('password').errors?.['required']">
                                    Password is required.
                                </div>
                                <div *ngIf="signupForm.get('password').errors?.['minlength']">
                                    Password must be at least 4 characters long.
                                </div>
                            </small>
                        </div>
                        <div class="flex flex-col gap-1 mb-4">
                            <label for="information" class="text-xl text-gray-500 mb-5 mt-5">Information</label>
                            <input
                                formControlName="information"
                                class="input"
                                pInputText
                                id="information"
                                type="text"
                            />
                        </div>
                        <div class="flex flex-col mt-10 text-center mb-5">
                            <button
                                [disabled]="signupForm.invalid"
                                class="bg-accent py-2 text-white text-xl rounded-sm"
                                type="submit"
                                style="background-color: #7424f6;"
                            >
                                Create
                            </button>
                        </div>
                    </ng-container>
                </form>
            </div>
    </div>
</div>

