<!-- <ng-container *ngIf="editTrainingMacineState"> -->
<form [formGroup]="editTrainingMachineForm" (ngSubmit)="onSave()">
    <div class="flex flex-col gap-2 mb-6">
        <label for="login">Name</label>
        <input formControlName="name" pInputText id="name" type="text" />
        <small
                *ngIf="
                    editTrainingMachineForm.get('name')?.invalid &&
                    (editTrainingMachineForm.get('name')?.dirty || editTrainingMachineForm.get('name')?.touched)
                "
                id="ranking-help"
                class="p-error"
                ><div *ngIf="editTrainingMachineForm.get('name')?.errors?.['required']">
                    A name of the movie is required.
                </div>
                <div *ngIf="editTrainingMachineForm.get('name')?.errors?.['minlength']">
                    A title must be at least 1 character long.
                </div>
            </small>
    </div>
    <div class="flex flex-col gap-2 mb-6">
        <label for="description">Description</label>
        <input formControlName="description" pInputTextarea id="description" type="text" />
    </div>

    <div class="flex flex-col gap-2 mb-6">
        <label for="location">Location</label>
        <input formControlName="location" pInputText id="location" type="text" />
        <small
                *ngIf="
                editTrainingMachineForm.get('location')?.invalid &&
                    (editTrainingMachineForm.get('location')?.dirty || editTrainingMachineForm.get('location')?.touched)
                "
                id="login-help"
                class="p-error"
                ><div *ngIf="editTrainingMachineForm.get('location')?.errors?.['required']">
                    The location is required.
                </div>
            </small>
    </div>

    <div class="text-right">
        <button
            class="w-24 py-2 px-4 text-black rounded-md mr-2"
            [disabled]="editTrainingMachineForm.invalid"
            type="submit"
        >
            Save
        </button>
        <button (click)="close()" class="w-24 py-2 px-4 text-black rounded-md" type="submit">Cancel</button>
    </div>
</form>
<!-- </ng-container> -->
