
<div class="card w-2/3 justify-center">
    <p-toolbar styleClass="mb-4 ">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="New Training Machine"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openCreateModal()"
            ></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="trainingMachines"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name']"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of training machines"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Training Machines</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trainingMachine>
            <tr>
                <td>{{ trainingMachine.name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="flex justify-end">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-print"
                        class="p-button-rounded p-button-warning"
                        (click)="printQrCode(trainingMachine)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success"
                        (click)="openEditTrainingMachineModal(trainingMachine)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="removeTrainingMachinesFromGym(trainingMachine)"
                    ></button>

                    <!-- -----------------------  GENERATING QR E------------------------ -->

                    <qrcode
                        style="display: none"
                        [id]="trainingMachine.id"
                        [elementType]="'img'"
                        (qrCodeURL)="onQRGenerated(trainingMachine.id)"
                        [qrdata]="trainingMachine.id"
                        [width]="256"
                        [errorCorrectionLevel]="'M'"
                    ></qrcode>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
